/* ==========================================================================
   Normalize.scss settings
   ========================================================================== */

/**
 * Includes legacy browser support IE6/7
 *
 * Set to false if you want to drop support for IE6 and IE7
 */

/* Base
   ========================================================================== */

/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 * 3. Corrects text resizing oddly in IE 6/7 when body `font-size` is set using
 *  `em` units.
 */

html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */

body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */

/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */

audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Prevents modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */

audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */

[hidden],
template {
  display: none;
}

/* Links
   ========================================================================== */

/**
 * Remove the gray background color from active links in IE 10.
 */

a {
  background-color: transparent;
}

/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */

a:active,
a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */

/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */

abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */

b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */

dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Addresses styling not present in IE 8/9.
 */

mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */

/**
 * 1. Remove border when inside `a` element in IE 8/9/10.
 * 2. Improves image quality when scaled in IE 7.
 */

img {
  border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */

svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */

/**
 * Address margin not present in IE 8/9 and Safari.
 */

figure {
  margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */

pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 * Correct font family set oddly in IE 6, Safari 4/5, and Chrome.
 */

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */

/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */

/**
 * 1. Correct color not being inherited.
 *  Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 * 4. Improves appearance and consistency in all browsers.
 */

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */

button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */

button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *  and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *  `input` and others.
 * 4. Removes inner spacing in IE 7 without affecting normal text inputs.
 *  Known issue: inner spacing remains in IE 6.
 */

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */

button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

input {
  line-height: normal;
}

/**
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 *  Known issue: excess padding remains in IE 6.
 */

input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
 */

input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 2 */
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 * 3. Corrects text not wrapping in Firefox 3.
 * 4. Corrects alignment displayed oddly in IE 6/7.
 */

legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */

textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */

optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */

/**
 * Remove most spacing between table cells.
 */

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

@font-face {
  font-family: "PT_SansNarrow";
  font-display: swap;
  src: url("../fonts/PT_SansNarrow_regular.woff") format("woff"), url("../fonts/PT_SansNarrow_regular.woff") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "PT_SansNarrow";
  font-display: swap;
  src: url("../fonts/PT_SansNarrow_bold.woff") format("woff"), url("../fonts/PT_SansNarrow_bold.woff") format("woff2");
  font-weight: bold;
  font-style: normal;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.visually-hidden,
.appointment-form [type="radio"],
.appointment-form [type="checkbox"],
.login-form__row [type="checkbox"] {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 18px;
  line-height: 27px;
  font-family: "PT_SansNarrow", "Arial", sans-serif;
  color: #f7f4f1;
  font-style: normal;
  background-color: #242424;
}

img {
  max-width: 100%;
  height: auto;
}

h2 {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  text-align: center;
}

.btn {
  display: block;
  padding: 15px 30px;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  color: #000;
  border: 1px solid #e5ddd5;
}

.btn:not(:disabled):hover {
  border-color: #d5cabe;
}

.btn:active {
  background-color: #d5c9bd;
  color: rgba(0, 0, 0, 0.3);
}

.btn:active svg {
  fill: rgba(0, 0, 0, 0.3);
}

.btn:disabled svg {
  fill: rgba(0, 0, 0, 0.3);
}

.btn--dark {
  color: #fff;
  border-color: #3e3e3e;
}

.btn--dark:not(:disabled):hover {
  border-color: #515151;
}

.btn--dark:active {
  background-color: #252525;
  color: rgba(255, 255, 255, 0.3);
}

.wrapper {
  margin: 0 auto;
  padding: 0 20px;
}

.slider__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.slider__item {
  display: none;
}

.slider__item--active {
  display: block;
}

.slider__toggles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.slider__toggle {
  display: block;
  padding: 0;
  width: 10px;
  height: 10px;
  font-size: 0;
  background: none;
  border: 1px solid #a5a5a5;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.slider__toggle:not(:last-child) {
  margin-right: 25px;
}

.slider__toggle--active {
  background-color: #fff;
}

.slider--dark .slider__toggle {
  border-color: #989795;
}

.slider--dark .slider__toggle--active {
  background-color: #353535;
}

.page-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.page-header__logo {
  height: 85px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 10px;
}

.main-nav {
  position: relative;
  width: 100%;
  max-width: 400px;
  height: 50px;
  margin: 0 auto;
  background-color: #826550;
}

.main-nav__toggle {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 70px;
  height: 100%;
  background-color: #6a4d38;
  border: none;
  cursor: pointer;
}

.main-nav__toggle::before {
  content: "";
  position: absolute;
  left: 17px;
  top: 15px;
  width: 36px;
  height: 2px;
  background-color: #fff;
  -webkit-box-shadow: 0 9px 0 0 #fff, 0 18px 0 0 #fff;
          box-shadow: 0 9px 0 0 #fff, 0 18px 0 0 #fff;
}

.main-nav__toggle:hover,
.main-nav__toggle:active {
  background-color: #624530;
}

.main-nav__toggle:active::before,
.main-nav__toggle:active::after {
  opacity: 0.3;
}

.main-nav__toggle--toggled {
  right: unset;
  left: 0;
}

.main-nav__toggle--toggled::before {
  top: 23px;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.main-nav__toggle--toggled::after {
  content: "";
  position: absolute;
  left: 17px;
  top: 23px;
  width: 36px;
  height: 2px;
  background-color: #fff;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.main-nav__wrapper {
  position: absolute;
  top: 0;
  right: 70px;
  width: calc(100% - 140px);
  height: 50px;
  overflow: hidden;
  text-align: center;
  z-index: 2;
}

.main-nav.nojs {
  height: auto;
}

.nojs .main-nav__wrapper {
  position: static;
  height: auto;
}

.site-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #826550;
}

.site-list__item {
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
}

.site-list__item--active {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
}

.site-list__item a {
  display: block;
  height: 50px;
  line-height: 50px;
  text-transform: uppercase;
  font-weight: bold;
  color: inherit;
  text-decoration: none;
}

.user-list {
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #6a4d38;
}

.user-list__item a {
  display: block;
  padding-left: 20px;
  height: 50px;
  line-height: 50px;
  color: inherit;
  text-decoration: none;
}

.user-list__ico {
  fill: rgba(255, 255, 255, 0.3);
  position: relative;
  top: 2px;
  margin-right: 5px;
}

.stats {
  width: 100%;
  max-width: 400px;
  margin: auto;
}

.stats__header {
  padding: 30px 20px;
  color: #000;
  background-color: #fff;
  text-align: center;
}

.stats__slogan {
  margin: 0;
  font-weight: bold;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

.stats__intro {
  margin-top: 24px;
  padding: 0 5%;
  font-size: 20px;
  line-height: 27px;
}

.stats__legend {
  display: block;
  padding: 20px;
  text-align: center;
}

.stats__legend--bottom {
  color: #4e4e4e;
  font-size: 20px;
  line-height: 27px;
}

.stats__legend--top {
  display: none;
}

.stats__list {
  width: 100%;
}

.stats__list tr:nth-child(odd) {
  background-color: #404040;
}

.stats__list tr:nth-child(even) {
  background-color: #4e4e4e;
}

.stats__value,
.stats__field {
  padding: 20px;
  width: 50%;
}

.stats__value sup,
.stats__field sup {
  margin-left: 10px;
}

.stats__value {
  padding-right: 0;
  font-size: 40px;
  font-weight: bold;
}

.stats__field {
  padding-left: 0;
  text-align: right;
}

.advantages {
  position: relative;
  border-bottom: 1px solid transparent;
}

.advantages::after {
  content: '';
  position: absolute;
  bottom: -40px;
  left: 0;
  width: 100%;
  height: 40px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' preserveAspectRatio='none' viewBox='0 0 320 34'%3E%3Cpath d='M0 0l161.429 34L320 0z' fill='%23242424' fill-rule='evenodd'/%3E%3C/svg%3E");
  background-size: 100% 40px;
  background-repeat: no-repeat;
}

.advantages__item {
  padding-top: 145px;
  text-align: center;
  background-size: 95px 94px;
  background-repeat: no-repeat;
  background-position: center 25px;
}

.advantages__item--fast {
  background-image: url(../img/advantages/adv-fast.svg);
}

.advantages__item--cool {
  background-image: url(../img/advantages/adv-cool.svg);
}

.advantages__item--price {
  background-image: url(../img/advantages/adv-cost.svg);
}

.advantages__title {
  margin: 0;
  margin-top: 10px;
  font-size: 30px;
  text-transform: uppercase;
}

.advantages__description {
  padding: 0 17%;
  margin-bottom: 30px;
}

.news {
  padding-top: 40px;
  padding-bottom: 28px;
  color: #000;
  background-color: #f8f5f2;
  border-bottom: 1px solid #e5ddd5;
}

.news__title {
  margin: 30px 0 10px;
}

.news__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.news__item {
  padding: 20px 0;
}

.news__item:first-child {
  border-bottom: 1px solid #e5ddd5;
}

.news__item:last-child {
  display: none;
}

.news__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: inherit;
  text-decoration: none;
}

.news__link:hover .news__text {
  color: #826550;
  text-decoration: underline;
}

.news__link:hover .news__date {
  background-color: #826550;
  position: relative;
}

.news__link:hover .news__date::after {
  content: '';
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 100%;
  height: 10px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' preserveAspectRatio='none' viewBox='0 0 320 34'%3E%3Cpath d='M0 0l161.429 34L320 0z' fill='%23826550' fill-rule='evenodd'/%3E%3C/svg%3E");
  background-size: 100% 10px;
  background-repeat: no-repeat;
}

.news__link:active .news__text {
  color: #6a4d38;
  text-decoration: underline;
}

.news__link:active .news__date {
  color: rgba(255, 255, 255, 0.3);
  background-color: #6a4d38;
  position: relative;
}

.news__link:active .news__date::after {
  content: '';
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 100%;
  height: 10px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' preserveAspectRatio='none' viewBox='0 0 320 34'%3E%3Cpath d='M0 0l161.429 34L320 0z' fill='%236a4d38' fill-rule='evenodd'/%3E%3C/svg%3E");
  background-size: 100% 10px;
  background-repeat: no-repeat;
}

.news__date {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-right: 20px;
  margin-bottom: 20px;
  width: 50px;
  height: 50px;
  color: #fff;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  text-transform: lowercase;
  background-color: #000;
  position: relative;
}

.news__date::after {
  content: '';
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 100%;
  height: 10px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' preserveAspectRatio='none' viewBox='0 0 320 34'%3E%3Cpath d='M0 0l161.429 34L320 0z' fill='%23000000' fill-rule='evenodd'/%3E%3C/svg%3E");
  background-size: 100% 10px;
  background-repeat: no-repeat;
}

.news__day {
  display: block;
  padding-top: 10px;
  margin-bottom: 3px;
  font-size: 30px;
  line-height: 20px;
  font-weight: bold;
}

.news__text {
  margin: 0;
}

.reviews {
  padding-bottom: 10px;
  border-top: 1px solid transparent;
  background-color: #f8f5f2;
  color: #000;
  position: relative;
}

.reviews::after {
  content: '';
  position: absolute;
  bottom: -40px;
  left: 0;
  width: 100%;
  height: 40px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' preserveAspectRatio='none' viewBox='0 0 320 34'%3E%3Cpath d='M0 0l161.429 34L320 0z' fill='%23f8f5f2' fill-rule='evenodd'/%3E%3C/svg%3E");
  background-size: 100% 40px;
  background-repeat: no-repeat;
}

.reviews__write {
  display: none;
}

.reviews__list {
  margin: 0 auto;
  margin-top: 15px;
  margin-bottom: 35px;
  max-width: 500px;
}

.reviews__item {
  position: relative;
  margin: 0;
  padding-left: 70px;
  min-height: 100px;
}

.reviews__author-picture {
  position: absolute;
  top: 10px;
  left: 0;
  margin: 0;
  margin-right: 20px;
  width: 50px;
  height: 50px;
}

.reviews__author-name {
  margin: 0;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 27px;
}

.reviews__text {
  margin: 0;
  margin-top: 10px;
}

.reviews__prev,
.reviews__next {
  display: none;
}

.page-footer {
  padding-top: 80px;
  padding-bottom: 20px;
  text-align: center;
  background-color: #242424;
}

.page-footer__wrapper {
  margin: 0 auto;
  max-width: 360px;
}

.page-footer__contacts {
  margin-bottom: 20px;
}

.page-footer__social {
  margin-bottom: 30px;
}

.contacts {
  font-size: 18px;
  line-height: 27px;
  padding: 0 20px;
}

.contacts__title {
  font-weight: bold;
}

.contacts__phone {
  display: block;
  padding: 15px 30px;
  margin-top: 20px;
  color: inherit;
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
  border: 1px solid #3e3e3e;
}

.contacts__phone:hover {
  border-color: #515151;
}

.contacts__phone:active {
  color: rgba(255, 255, 255, 0.3);
}

.contacts__phone-mobile {
  display: none;
}

.social__title {
  display: none;
}

.social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.social__item {
  width: 33.333%;
}

.social__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 101px;
  border: 1px solid #3e3e3e;
  font-size: 0;
}

.social__link:hover {
  border-color: #515151;
}

.social__link:active svg {
  opacity: 0.3;
}

.social__ico {
  width: 40px;
  height: 40px;
}

.copyright {
  padding: 0 20px;
}

.copyright__text {
  font-weight: bold;
}

.copyright__link {
  margin-top: 10px;
}

.works {
  position: relative;
  color: #000;
  background-color: #f8f5f2;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  position: relative;
  z-index: 1;
}

.works::after {
  content: '';
  position: absolute;
  bottom: -40px;
  left: 0;
  width: 100%;
  height: 40px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' preserveAspectRatio='none' viewBox='0 0 320 34'%3E%3Cpath d='M0 0l161.429 34L320 0z' fill='%23f8f5f2' fill-rule='evenodd'/%3E%3C/svg%3E");
  background-size: 100% 40px;
  background-repeat: no-repeat;
}

.works__wrapper {
  margin: auto;
  width: 280px;
  padding: 0;
}

.works__to-index {
  display: none;
}

.works__item {
  margin: 20px 0;
  border: 1px solid #e5ddd5;
}

.works__picture {
  margin: 0;
  padding: 0;
  width: 100%;
}

.works__image {
  vertical-align: bottom;
}

.works__description {
  padding: 20px;
  margin: 0;
}

.works__client-name {
  font-size: 24px;
  line-height: 27px;
  font-style: normal;
  font-weight: bold;
}

.works__review {
  margin: 20px 0 5px;
}

.works__features {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.works__feature {
  width: 50%;
  margin-top: 15px;
}

.works__feature svg {
  position: relative;
  top: 3px;
  fill: #826550;
}

.works__feature--haircut svg {
  width: 21px;
  height: 20px;
  margin-right: 12px;
}

.works__feature--shave svg {
  width: 23px;
  height: 21px;
  margin-right: 20px;
}

.works__feature--mustache svg {
  right: 12px;
  width: 45px;
  height: 12px;
}

.price {
  padding-top: 50px;
  padding-bottom: 20px;
  background-color: #353535;
  position: relative;
}

.price::after {
  content: '';
  position: absolute;
  bottom: -40px;
  left: 0;
  width: 100%;
  height: 40px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' preserveAspectRatio='none' viewBox='0 0 320 34'%3E%3Cpath d='M0 0l161.429 34L320 0z' fill='%23353535' fill-rule='evenodd'/%3E%3C/svg%3E");
  background-size: 100% 40px;
  background-repeat: no-repeat;
}

.price__wrapper {
  margin: 0 auto;
  width: 280px;
}

.price__table {
  margin-bottom: 20px;
}

.discount-clock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #484848;
}

.discount-clock__clock {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 100px;
  height: 91px;
  background-image: url(../img/clock.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 58px 57px;
}

.discount-clock__info {
  padding-left: 15px;
  padding-right: 30px;
}

.price-table {
  width: 100%;
  font-size: 20px;
}

.price-table tr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-bottom: 15px;
}

.price-table__num {
  display: none;
}

.price-table__service {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  font-weight: bold;
}

.price-table__wash {
  width: 100%;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.price-table__hidden-brackets::before {
  content: "(";
}

.price-table__hidden-brackets::after {
  content: ")";
}

.price-table__cost {
  width: 80px;
}

.appointment {
  padding-bottom: 40px;
  color: #000;
  background-color: #f8f5f2;
  border-top: 1px solid transparent;
  position: relative;
}

.appointment::after {
  content: '';
  position: absolute;
  bottom: -40px;
  left: 0;
  width: 100%;
  height: 40px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' preserveAspectRatio='none' viewBox='0 0 320 34'%3E%3Cpath d='M0 0l161.429 34L320 0z' fill='%23f8f5f2' fill-rule='evenodd'/%3E%3C/svg%3E");
  background-size: 100% 40px;
  background-repeat: no-repeat;
}

.appointment__wrapper {
  padding: 0;
  margin: auto;
  width: 280px;
}

.appointment__to-index {
  display: none;
}

.appointment-form [type="text"],
.appointment-form [type="email"],
.appointment-form [type="tel"],
.appointment-form textarea {
  padding: 15px;
  width: 100%;
  color: #000;
  background-color: #fff;
  border: 1px solid #e5ddd5;
}

.appointment-form [type="text"]::-webkit-input-placeholder, .appointment-form [type="email"]::-webkit-input-placeholder, .appointment-form [type="tel"]::-webkit-input-placeholder, .appointment-form textarea::-webkit-input-placeholder {
  color: #000;
}

.appointment-form [type="text"]::-moz-placeholder, .appointment-form [type="email"]::-moz-placeholder, .appointment-form [type="tel"]::-moz-placeholder, .appointment-form textarea::-moz-placeholder {
  color: #000;
}

.appointment-form [type="text"]:-ms-input-placeholder, .appointment-form [type="email"]:-ms-input-placeholder, .appointment-form [type="tel"]:-ms-input-placeholder, .appointment-form textarea:-ms-input-placeholder {
  color: #000;
}

.appointment-form [type="text"]::-ms-input-placeholder, .appointment-form [type="email"]::-ms-input-placeholder, .appointment-form [type="tel"]::-ms-input-placeholder, .appointment-form textarea::-ms-input-placeholder {
  color: #000;
}

.appointment-form [type="text"]::placeholder,
.appointment-form [type="email"]::placeholder,
.appointment-form [type="tel"]::placeholder,
.appointment-form textarea::placeholder {
  color: #000;
}

.appointment-form [type="text"]:hover,
.appointment-form [type="email"]:hover,
.appointment-form [type="tel"]:hover,
.appointment-form textarea:hover {
  border-color: #d5c9bd;
}

.appointment-form [type="text"]:focus,
.appointment-form [type="email"]:focus,
.appointment-form [type="tel"]:focus,
.appointment-form textarea:focus {
  outline: none;
  border-color: #999999;
}

.appointment-form legend {
  text-align: center;
  font-size: 20px;
  text-transform: uppercase;
}

.appointment-form label {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
}

.appointment-form__passport-data {
  padding: 0;
  margin-bottom: 32px;
  border: none;
}

.appointment-form__passport-data input:not(:last-child) {
  margin-bottom: 6px;
}

.appointment-form__contacts {
  padding: 0;
  margin-bottom: 32px;
  border: none;
}

.appointment-form__contacts input:not(:last-child) {
  margin-bottom: 6px;
}

.appointment-form__message {
  padding: 0;
  margin-bottom: 32px;
  border: none;
}

.appointment-form__message textarea {
  resize: none;
  height: 112px;
}

.appointment-form__beard-choise {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0;
  margin-bottom: 32px;
  border: none;
  padding-top: 4px;
}

.appointment-form__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.appointment-form__container [type="radio"] {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.appointment-form__beard-type {
  position: relative;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-top: 30px;
  padding-top: 65px;
  width: 85px;
  text-align: center;
  text-transform: lowercase;
}

.appointment-form__beard-type::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 52px;
  height: 52px;
  border-radius: 50%;
  background-color: #fff;
  border: 1px solid #e5ddd5;
}

.appointment-form__beard-type--admiral {
  padding-bottom: 64px;
  background-image: url(../img/beards/beard-1.svg);
  background-repeat: no-repeat;
  background-size: 52px 49px;
  background-position: bottom center;
}

.appointment-form__beard-type--lumberjack {
  padding-bottom: 85px;
  background-image: url(../img/beards/beard-2.svg);
  background-repeat: no-repeat;
  background-size: 58px 69px;
  background-position: bottom center;
}

.appointment-form__beard-type--polar {
  padding-bottom: 94px;
  background-image: url(../img/beards/beard-3.svg);
  background-repeat: no-repeat;
  background-size: 64px 78px;
  background-position: bottom center;
}

.appointment-form__beard-type--boyar {
  padding-bottom: 112px;
  background-image: url(../img/beards/beard-4.svg);
  background-repeat: no-repeat;
  background-size: 58px 98px;
  background-position: bottom center;
}

.appointment-form__beard-type--sage {
  padding-bottom: 118px;
  background-image: url(../img/beards/beard-5.svg);
  background-repeat: no-repeat;
  background-size: 46px 105px;
  background-position: bottom center;
}

:checked + .appointment-form__beard-type::after {
  content: "";
  position: absolute;
  top: 17px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: 1px solid #e5ddd5;
  background-color: #fff;
}

:not(:disabled) + .appointment-form__beard-type:hover::before,
:not(:disabled) + .appointment-form__beard-type:hover::after,
:focus + .appointment-form__beard-type::before,
:focus + .appointment-form__beard-type::after {
  border-color: #d5c9bd;
}

:not(:disabled) + .appointment-form__beard-type:active::before {
  background-color: #d5c9bd;
}

.appointment-form__addition-services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 30px 0;
  margin-bottom: 32px;
  border: none;
}

.appointment-form__addition-services [type="checkbox"] {
  position: relative !important;
  top: 15px;
  opacity: 0;
}

.appointment-form__addition-service {
  position: relative;
  padding-left: 60px;
  line-height: 37px;
}

.appointment-form__addition-service:not(:last-child) {
  margin-bottom: 23px;
}

.appointment-form__addition-service::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 36px;
  height: 36px;
  background-color: #fff;
  border: 1px solid #e5ddd5;
}

:checked + .appointment-form__addition-service::after {
  content: "";
  position: absolute;
  top: 10px;
  left: 7px;
  width: 22px;
  height: 16px;
  background-image: url(../img/icons/checkbox.svg);
}

:not(:disabled) + .appointment-form__addition-service:hover::before,
:focus + .appointment-form__beard-type::before {
  border-color: #d5c9bd;
}

:not(:disabled) + .appointment-form__addition-service:active::before {
  background-color: #d5c9bd;
}

.appointment-form__submit {
  width: 100%;
  color: #fff;
  background-color: #826550;
}

.appointment-form__submit:not(:disabled):hover,
.appointment-form__submit:active {
  background-color: #6a4d38 !important;
}

.appointment-form__submit:active {
  color: rgba(255, 255, 255, 0.3);
}

.appointment-form__submit:disabled {
  background-color: #aeaeae;
}

.test {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  border: none;
}

.test__block {
  width: 40px;
  height: 40px;
  border: 1px solid red;
}

.modal {
  display: none;
}

.modal--open {
  display: block;
}

.modal__wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1000;
}

.modal__login {
  position: absolute;
  top: 135px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-box-shadow: 0 30px 50px 0 rgba(0, 0, 0, 0.75);
          box-shadow: 0 30px 50px 0 rgba(0, 0, 0, 0.75);
  z-index: 1001;
}

.login-form {
  padding: 32px 20px 37px;
  background-color: #f8f5f2;
  color: #000;
}

.login-form__title {
  margin: 0;
  margin-bottom: 25px;
}

.login-form p {
  margin: 25px 0;
  text-align: center;
}

.login-form__input-wrapper {
  position: relative;
  display: block;
  height: auto;
  margin-bottom: 6px;
}

.login-form__input-wrapper input {
  width: 280px;
  padding: 15px;
  color: #000;
  background-color: #fff;
  border: 1px solid #e5ddd5;
}

.login-form__input-wrapper input::-webkit-input-placeholder {
  color: #000;
}

.login-form__input-wrapper input::-moz-placeholder {
  color: #000;
}

.login-form__input-wrapper input:-ms-input-placeholder {
  color: #000;
}

.login-form__input-wrapper input::-ms-input-placeholder {
  color: #000;
}

.login-form__input-wrapper input::placeholder {
  color: #000;
}

.login-form__input-wrapper input:hover {
  border-color: #d5c9bd;
}

.login-form__input-wrapper input:focus {
  outline: none;
  border-color: #999999;
}

.login-form__input-wrapper svg {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 19px;
}

.login-form__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 26px;
}

.login-form__row label {
  position: relative;
  padding-left: 43px;
  cursor: pointer;
  line-height: 33px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.login-form__row label::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 33px;
  height: 33px;
  border: 1px solid #e5ddd5;
  background-color: #fff;
}

.login-form__row :checked + label::after {
  content: "";
  position: absolute;
  top: 9px;
  left: 7px;
  width: 22px;
  height: 16px;
  background-image: url(../img/icons/checkbox.svg);
}

.login-form__row :not(:disabled) + label:hover::before {
  border-color: #d5c9bd;
}

.login-form__row :not(:disabled) + label:active::before {
  background-color: #d5c9bd;
}

.login-form__forgot {
  color: inherit;
}

.login-form__submit {
  width: 130px;
  color: #fff;
  background-color: #826550;
}

.login-form__submit:not(:disabled):hover,
.login-form__submit:active {
  background-color: #6a4d38 !important;
}

.login-form__submit:active {
  color: rgba(255, 255, 255, 0.3);
}

.login-form__submit:disabled {
  background-color: #aeaeae;
}

.login-form__close {
  width: 130px;
}

@media (min-width: 768px) {
  body {
    background-color: #353535;
  }

  h2 {
    font-size: 40px;
    text-align: left;
  }

  .page-header__logo {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    height: 400px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    background-image: url(../img/bg/back-tablet.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }

  .page-header__logo img {
    width: 370px;
    height: 101px;
    margin-top: 55px;
  }

  .page-header__logo--inner {
    height: 220px;
  }

  .page-header__logo--inner img {
    margin-top: 40px;
  }

  .main-nav__toggle {
    display: none;
  }

  .main-nav {
    max-width: none;
    height: auto;
    background-color: #000;
  }

  .main-nav__wrapper {
    position: static;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0 auto;
    padding: 0 40px;
    width: 100%;
    max-width: 780px;
    height: auto;
    overflow: visible;
  }

  .site-list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    background-color: transparent;
  }

  .site-list__item--active {
    position: relative;
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
  }

  .site-list__item--active::after {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    width: calc(100% - 40px);
    height: 3px;
    background-color: #826550;
  }

  .site-list__item a {
    padding: 24px 20px;
    height: auto;
    text-align: center;
    line-height: 24px;
  }

  .site-list__item a[href]:hover,
  .site-list__item a[href]:active {
    color: #826550;
  }

  .site-list__item a[href]:active {
    color: rgba(255, 255, 255, 0.3);
  }

  .user-list {
    background-color: transparent;
  }

  .user-list__item a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 70px;
    line-height: normal;
    font-size: 0;
  }

  .user-list__item a:hover svg {
    fill: #826550;
  }

  .user-list__item a:active svg {
    fill: #4d4d4d;
  }

  .user-list__ico {
    top: 0;
  }

  .stats {
    width: 640px;
    max-width: none;
    margin-top: -184px;
    z-index: 1;
  }

  .stats__header {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 30px 0;
    min-height: 184px;
    text-align: left;
  }

  .stats__header::before {
    content: "";
    position: absolute;
    top: 42px;
    left: -23px;
    width: 0;
    height: 0;
    border-top: 23px solid #fff;
    border-left: 23px solid transparent;
    border-right: 23px solid transparent;
  }

  .stats__slogan {
    width: 320px;
    padding-left: 35px;
    font-size: 40px;
    line-height: 40px;
    font-weight: bold;
    text-transform: none;
  }

  .stats__intro {
    width: 320px;
    margin: 0;
    padding-left: 30px;
    padding-right: 80px;
  }

  .stats__legend--top {
    display: block;
    width: 100%;
    padding-left: 35px;
    padding-bottom: 0;
    text-align: left;
    color: rgba(0, 0, 0, 0.3);
    font-size: 20px;
    line-height: 27px;
  }

  .stats__list tbody {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .stats__list tr {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 50%;
    padding: 30px 0;
  }

  .stats__list tr:nth-child(1) {
    background-color: #404040;
  }

  .stats__list tr:nth-child(2) {
    background-color: #4e4e4e;
  }

  .stats__list tr:nth-child(3) {
    background-color: #353535;
  }

  .stats__list tr:nth-child(4) {
    background-color: #404040;
  }

  .stats__value,
  .stats__field {
    width: 100%;
    padding: 0 30px;
    text-align: left;
  }

  .stats__value {
    margin-bottom: 5px;
    font-size: 72px;
    line-height: 72px;
  }

  .stats__field br {
    display: none;
  }

  .stats__legend--bottom {
    display: none;
  }

  .advantages {
    position: relative;
  }

  .advantages::after {
    content: '';
    position: absolute;
    bottom: -40px;
    left: 0;
    width: 100%;
    height: 40px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' preserveAspectRatio='none' viewBox='0 0 320 34'%3E%3Cpath d='M0 0l161.429 34L320 0z' fill='%23353535' fill-rule='evenodd'/%3E%3C/svg%3E");
    background-size: 100% 40px;
    background-repeat: no-repeat;
  }

  .advantages__wrapper {
    max-width: 640px;
  }

  .advantages__item {
    display: block;
    padding: 20px 0;
    padding-left: 150px;
    text-align: left;
    background-position: left 30px;
  }

  .advantages__item:not(:last-child) {
    border-bottom: 1px solid #4a4a4a;
  }

  .advantages__toggles {
    display: none;
  }

  .advantages__description {
    padding: 0;
    font-size: 20px;
    line-height: 27px;
  }

  .news {
    padding-top: 60px;
  }

  .news__wrapper {
    position: relative;
    padding: 0;
    max-width: 640px;
  }

  .news__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: 50px;
  }

  .news__item {
    width: 50%;
  }

  .news__item:first-child {
    border-bottom: none;
  }

  .news__text {
    padding-right: 30px;
  }

  .news__to-all {
    position: absolute;
    top: -10px;
    right: 0;
    width: 160px;
    padding-left: 0;
    padding-right: 0;
  }

  .reviews::after {
    display: none;
  }

  .reviews__wrapper {
    position: relative;
    width: 640px;
    padding: 0;
  }

  .reviews__write {
    position: absolute;
    top: -10px;
    right: 0;
    display: block;
    width: 160px;
    padding-left: 0;
    padding-right: 0;
  }

  .reviews__list {
    position: relative;
    max-width: none;
    margin-top: 45px;
    border: 1px solid #e5ddd5;
  }

  .reviews__item {
    padding-left: 190px;
    padding-right: 100px;
    padding-top: 30px;
    padding-bottom: 30px;
    height: 160px;
  }

  .reviews__author-picture {
    top: 35px;
    left: 80px;
    width: 80px;
    height: 80px;
  }

  .reviews__author-image {
    border-radius: 50%;
  }

  .reviews__toggles {
    position: absolute;
    bottom: -23px;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    padding: 0 25px;
    background-color: #f8f5f2;
  }

  .reviews__prev,
  .reviews__next {
    position: absolute;
    top: -1px;
    display: block;
    padding: 0;
    width: 50px;
    height: calc(100% + 2px);
    font-size: 0;
    border: 1px solid #e5ddd5;
    background: none;
  }

  .reviews__prev svg,
  .reviews__next svg {
    width: 12px;
    height: 12px;
    position: relative;
    top: 5px;
  }

  .reviews__prev {
    left: -1px;
  }

  .reviews__next {
    right: -1px;
  }

  .reviews__next svg {
    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
            transform: rotate(180deg);
  }

  .page-footer__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    max-width: 640px;
  }

  .page-footer__contacts {
    width: 320px;
  }

  .page-footer__copyright {
    width: 160px;
  }

  .page-footer__social {
    width: 100%;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }

  .contacts {
    text-align: left;
    padding: 0;
  }

  .contacts__title {
    text-transform: uppercase;
  }

  .contacts__text {
    margin-top: 0.5em;
  }

  .contacts__text br {
    display: none;
  }

  .contacts__phone {
    display: inline;
    padding: 0;
    margin: 0;
    font-weight: normal;
    border: none;
  }

  .contacts__phone:hover {
    text-decoration: underline;
  }

  .contacts__phone:active {
    opacity: 0.6;
  }

  .contacts__phone-mobile {
    display: inline;
  }

  .copyright {
    padding: 0;
  }

  .copyright__text {
    font-weight: normal;
  }

  .copyright__link {
    padding-left: 0;
    padding-right: 0;
  }

  .works {
    padding-top: 30px;
    position: relative;
  }

  .works::before {
    content: "";
    position: absolute;
    left: 0;
    top: -65px;
    width: 100%;
    height: 65px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' preserveAspectRatio='none' viewBox='0 0 320 34'%3E%3Cpath d='M0 0v34h160zm320 0v34H160z' fill='%23f8f5f2' fill-rule='evenodd'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: 100% 65px;
  }

  .works__wrapper {
    position: relative;
    width: 640px;
  }

  .works__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .works__picture {
    width: 270px;
    -ms-flex-negative: 0;
        flex-shrink: 0;
  }

  .works__description {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    padding-left: 53px;
  }

  .works__features {
    margin-top: auto;
  }

  .works__feature {
    width: auto;
    margin-right: 30px;
  }

  .works__to-index {
    display: block;
    position: absolute;
    right: 0;
    top: -15px;
  }

  .price {
    padding-bottom: 55px;
  }

  .price::after {
    display: none;
  }

  .price__wrapper {
    width: 640px;
  }

  .price__table {
    margin-bottom: 10px;
  }

  .discount-clock__info {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
  }

  .price-table tr {
    display: table-row;
  }

  .price-table td {
    width: auto;
    padding: 14px 15px 15px;
    border: 1px solid #484848;
  }

  .price-table__num {
    display: table-cell;
    text-align: center;
    color: rgba(255, 255, 255, 0.3);
  }

  .price-table__hidden-brackets::before,
  .price-table__hidden-brackets::after {
    display: none;
  }

  .appointment {
    padding-top: 30px;
    padding-bottom: 75px;
    position: relative;
  }

  .appointment::before {
    content: "";
    position: absolute;
    left: 0;
    top: -65px;
    width: 100%;
    height: 65px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' preserveAspectRatio='none' viewBox='0 0 320 34'%3E%3Cpath d='M0 0v34h160zm320 0v34H160z' fill='%23f8f5f2' fill-rule='evenodd'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: 100% 65px;
  }

  .appointment::after {
    display: none;
  }

  .appointment__wrapper {
    position: relative;
    width: 640px;
  }

  .appointment__to-index {
    display: block;
    position: absolute;
    right: 0;
    top: -15px;
  }

  .appointment___form {
    padding-top: 30px;
  }

  .appointment-form legend {
    font-size: 30px;
    padding-left: 25px;
    padding-right: 25px;
  }

  .appointment-form__passport-data {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 35px;
  }

  .appointment-form__passport-data input:not(:last-child) {
    margin-bottom: 0;
  }

  .appointment-form__passport-data input:nth-child(2) {
    border-left: none;
    border-right: none;
  }

  .appointment-form__contacts {
    margin-bottom: 35px;
  }

  .appointment-form__contacts input:not(:last-child) {
    margin-bottom: 35px;
  }

  .appointment-form__message textarea {
    height: 211px;
  }

  .appointment-form__beard-choise,
  .appointment-form__addition-services {
    border-top: 1px solid #e5ddd5;
  }

  .appointment-form__beard-choise {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin-bottom: 60px;
    margin-top: 60px;
  }

  .appointment-form__addition-services {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-top: 60px;
  }

  .appointment-form__addition-service {
    width: calc(50% - 1px);
  }

  .modal__login {
    top: 128px;
  }

  .login-form {
    padding: 50px 70px 63px;
  }

  .login-form__title {
    text-align: center;
  }

  .login-form__input-wrapper input {
    width: 320px;
    padding: 23px 25px;
    font-size: 24px;
  }

  .login-form__submit {
    width: 100%;
  }

  .login-form__close {
    position: absolute;
    top: 62px;
    right: -95px;
    width: 26px;
    height: 26px;
    padding: 0;
    font-size: 0;
    background-color: transparent;
    border: none;
  }

  .login-form__close::before,
  .login-form__close::after {
    content: "";
    position: absolute;
    top: 10px;
    left: -5px;
    width: 36px;
    height: 2px;
    background-color: #fff;
  }

  .login-form__close::before {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  .login-form__close::after {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .login-form__close:hover {
    background-color: transparent;
  }

  .login-form__close:hover::before,
  .login-form__close:hover::after {
    background-color: #826550;
  }

  .login-form__close:active {
    background-color: transparent;
  }

  .login-form__close:active::before,
  .login-form__close:active::after {
    background-color: rgba(255, 255, 255, 0.3);
  }
}

@media (min-width: 1200px) {
  .page-header__logo {
    height: 648px;
    background-image: url(../img/bg/back-desktop.jpg);
  }

  .page-header__logo img {
    height: 153px;
  }

  .page-header__logo--inner {
    height: 315px;
  }

  .page-header__logo--inner img {
    margin-top: 55px;
  }

  .main-nav__wrapper {
    max-width: 960px;
    padding: 0;
  }

  .site-list__item a[href]:hover,
  .site-list__item a[href]:active {
    background-color: #fff;
    color: #000;
  }

  .site-list__item a[href]:active {
    color: rgba(0, 0, 0, 0.3);
  }

  .user-list__item a {
    padding-right: 20px;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
  }

  .user-list__item a:hover {
    background-color: #fff;
    color: #000;
  }

  .user-list__item a:hover svg {
    fill: #b6b6b6;
  }

  .user-list__item a:active {
    color: rgba(0, 0, 0, 0.3);
  }

  .user-list__item a:active svg {
    fill: rgba(0, 0, 0, 0.1);
  }

  .user-list__ico {
    margin-right: 15px;
  }

  .stats {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 960px;
    margin-top: -164px;
  }

  .stats__header {
    width: 320px;
  }

  .advantages__wrapper {
    max-width: 960px;
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .advantages__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .advantages__item {
    border-bottom: none;
    padding-top: 125px;
    padding-left: 42px;
    padding-right: 42px;
    padding-bottom: 0;
    text-align: center;
    background-position: top center;
  }

  .advantages__item:not(:last-child) {
    border-right: 1px solid #4a4a4a;
    border-bottom: none;
  }

  .news__wrapper {
    min-width: 960px;
  }

  .news__item {
    width: 33.333%;
  }

  .news__item:last-child {
    display: block;
  }

  .reviews__wrapper {
    width: 960px;
    padding-bottom: 40px;
  }

  .reviews__list {
    width: 818px;
  }

  .reviews__item {
    padding-left: 320px;
  }

  .reviews__author-picture {
    top: 0;
    left: 0;
    width: 249px;
    height: 160px;
  }

  .reviews__author-image {
    border-radius: initial;
  }

  .reviews__prev {
    left: -70px;
  }

  .reviews__next {
    right: -70px;
  }

  .reviews__toggles {
    bottom: 10px;
  }

  .page-footer__wrapper {
    max-width: 940px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }

  .page-footer__social {
    width: 320px;
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
  }

  .page-footer__copyright {
    margin-left: auto;
  }

  .social__title {
    display: block;
    font-weight: normal;
  }

  .social__list {
    margin-top: 10px;
  }

  .social__item {
    width: auto;
    margin: 6px;
  }

  .social__link {
    width: 50px;
    height: 50px;
  }

  .social__ico {
    width: 19px;
    height: 19px;
  }

  .works::after {
    display: none;
  }

  .works__wrapper {
    width: 960px;
  }

  .works__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .works__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 294px;
  }

  .works__item:not(:nth-child(3n + 1)) {
    margin-right: 39px;
  }

  .works__picture {
    width: 100%;
  }

  .works__item:first-child {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100%;
    margin-right: 0;
  }

  .works__item:first-child .works__picture {
    width: 480px;
  }

  .works__item:not(:first-child) .works__features {
    width: 100%;
  }

  .works__item:not(:first-child) .works__feature {
    width: 50%;
    margin-right: 0;
  }

  .price__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 960px;
  }

  .price__title {
    width: 100%;
  }

  .price__table {
    width: 630px;
    margin: 0;
  }

  .price__discount {
    width: 269px;
  }

  .discount-clock {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .discount-clock__clock {
    width: 100%;
    height: 174px;
    background-size: 142px 139px;
    background-position: center bottom;
  }

  .discount-clock__info {
    padding: 16px 60px 0;
    font-size: 20px;
    font-weight: normal;
    text-align: center;
    text-transform: none;
  }

  .appointment__wrapper {
    width: 960px;
  }

  .appointment-form__passport-data {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .appointment-form__passport-data input {
    width: calc((100% - 37px * 2) / 3) !important;
  }

  .appointment-form__passport-data input:nth-child(2) {
    border-left: 1px solid #e5ddd5;
    border-right: 1px solid #e5ddd5;
  }

  .appointment-form__contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .appointment-form__contacts input {
    width: calc((100% - 35px) / 2) !important;
  }

  .appointment-form__contacts input:first-child {
    margin-bottom: 0;
  }

  .appointment-form__addition-service {
    width: calc(33.33% - 1px);
  }
}

@media (max-width: 767px) {
  .main-nav__toggle--toggled + .main-nav__wrapper {
    height: auto;
    width: calc(100% - 70px);
    right: 0;
    text-align: left;
  }

  .main-nav__toggle--toggled + .main-nav__wrapper .site-list a {
    padding-left: 20px;
    border-top: 1px solid #886e5b;
    border-bottom: 1px solid #71543f;
  }

  .site-list__item a[href]:hover {
    background-color: #755a46;
  }

  .site-list__item a[href]:active {
    color: rgba(255, 255, 255, 0.3);
  }
}